@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}  


   <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">


@using (Html.BeginForm("Index","ContactInformation",FormMethod.Post)){

 
                    
    @Html.HiddenFor(x=>x.ContactID)
    <br />
    <label>Başlık</label>   
    @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Title,"",new {@class="text-danger"})
    <br />
    <label>Açıklama</label>   
    @Html.TextAreaFor(x=>x.Description,10,2,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Description,"",new {@class="text-danger"})
    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(x=>x.Phone,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Phone,"",new {@class="text-danger"})
    <br />
    <label>E-posta</label>
    @Html.TextBoxFor(x=>x.Mail,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Mail,"",new {@class="text-danger"})
    <br />
                        
    <button  class="btn btn-outline-success">Kaydet</button>
    
  }
                 
                  </div>
                </div>
              </div>


