@model PortfolioProject.Models.TestimonialViewModel

@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}


<div class="col-12 grid-margin stretch-card">
       <div class="card">
            <div class="card-body">

@using (Html.BeginForm("AddTestimonial","Testimonials",FormMethod.Post,new{ enctype = "multipart/form-data" })){

   
 
    <label>Referans</label>   
    @Html.TextBoxFor(x=>x.ClientName,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ClientName,"",new {@class="text-danger"})
    <br />
    <label>Referans Görseli</label>
    @Html.TextBoxFor(x=>x.Image,new { type = "file"})
    @Html.ValidationMessageFor(x=>x.Image,"",new {@class="text-danger"})
    <br />
     <label>Şirket</label>
    @Html.TextBoxFor(x=>x.Company,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Company,"",new {@class="text-danger"})
    <br />
     <label>Yorum</label>
    @Html.TextAreaFor(x=>x.Comment,8,3,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Comment,"",new {@class="text-danger"})
    <br />

  
    <button class="btn btn-outline-success">Ekle</button>

}

                       </div>
               </div>
        </div>







